<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <link rel="stylesheet" href="css/title/title.css" />
    <link rel="stylesheet" href="css/search/search.css" />
    <link rel="stylesheet" href="css/content/content.css" />
    <link rel="stylesheet" href="css/team-card/team-card.css" />
    <link rel="stylesheet" href="css/teams-section/teams-section.css" />
    <link rel="stylesheet" href="css/teams-section/__title/teams-section__title.css" />
    <link rel="stylesheet" href="css/close-button/close-button.css" />
    <link rel="stylesheet" href="css/teams-list/teams-list.css" />
    <link rel="stylesheet" href="css/teams-list/__item/teams-list__item.css" />
    <link rel="stylesheet" href="css/players-table/players-table.css" />
    <link rel="stylesheet" href="css/players-table/__row/players-table__row.css" />
    <link rel="stylesheet" href="css/overflow-wrapper/overflow-wrapper.css" />
    <link rel="stylesheet" href="css/players-table/__cell/players-table__cell.css" />
    <link rel="stylesheet" href="css/header-table/header-table.css" />
    <link rel="stylesheet" href="css/header-table/__cell/header-table__cell.css" />
    <title>Football</title>
  </head>
  <body>
    
    <h1 class="title">From Football-data.org</h1>
    
    <section class="content">
      <section class="teams-section" id="teamsSection">
        <h2 class="teams-section__title">Teams list:</h2>
        <input id="teamsSearch" class="search" type="search" placeholder="Type to search"/>
        <ul id="teamsList" class="teams-list">

        </ul>
      </section>
      <section id="team-card" class="team-card"></section>
    </section>

  <script type="text/template" id="teamCardTemplate">
    <button id="closeButton" class="close-button">X</button>
    <h2><%= team.name %></h2>
    <a href=<%= "mailto:" + team.email %> > <%= team.email %> </a>
    <p><b>Address:</b> <%= team.address %></p>
    <table class="header-table">
        <thead>
        <tr>
          <th class="header-table__cell">Player's Name</th>
          <th class="header-table__cell">Position</th>
          <th class="header-table__cell">Nationality</th>
        </tr>
        </thead>
      </table>
    <div class="overflow-wrapper">
    <table class="players-table">
      <tbody>
        <% for (let player of team.squad) { %>
          <tr class="players-table__row">
            <td class="players-table__cell"> <%= player.name %> </td>
            <td><i> <%= player.position %></i></td>
            <td></b> <%= player.nationality %> </td>
        </tr>
        <% } %>
      </tbody>
      </table>
    </div>
  
  </script>

  <script type="text/template" id="teamListItemTemplate">
    <div class="teams-list__item">      
      <div class="teams-list__decription">
      <h2 class="teams-list__title"><%- team.name %></h2>
      <a class="website" href="<%= team.website %>"> <%= team.website%></a>
      </div>
      <figure class="teams-list__figure">
        <img class="teams-list__img" src="images/arrow.png" /> 
      </figure>
    </div>
  </script>
  <script data-main="js/app" src="js/require.js"></script>
</body>
</html>