.teams-list__item {
    border-bottom: 1px solid rgb(34, 33, 33);
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.active h2 {
    color: rgb(22, 96, 255);
}

.teams-list__decription {
    flex-basis: 85%
}

.teams-list__img {
    height: 50px;
}

.teams-list__figure {
    flex-basis: 10%;
    opacity: 0;
    transition: opacity 1s;
    margin: 0;
}

/* .teams-list__item:hover {
    transition: background-color 1s;
    background: rgb(211, 211, 211);
} */

.teams-list__item:hover .teams-list__figure {
    opacity: 0.7;
}

.active .teams-list__figure {
    display: block;
    opacity: 1;
}

.teams-list__title {
    margin: 0;
    padding-bottom: 10px;
}